<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>
      toodo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-content">
  <!-- <span *ngIf="!notes" class="no-data">create new task...</span>
  <ion-grid style="margin-top:10px;">
    <ion-list class="toodoo-list" *ngFor="let note of notes; let i = index">
      <ion-item-sliding #item>
        <ion-item>
          {{note}}
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="success" (click)="removeNote(i)">done</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeNote(i)">delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-grid>
  <div class="add-round" (click)="openModal()">
    <img src="../../assets/icon/baseline_add_white_48pt_1x.png" style="margin-left: 2px;margin-top: 2px;">
  </div> -->
  <div id="toodo-main">
    <div id="toodo-add">
      <input type="text" name="add-note" placeholder="add toodo..." (keypress)="enterPress($event.keyCode)" [(ngModel)]="note" #add_note>
    </div>
    <div id="toodo-todos">
      <div class="todo" *ngFor="let note of notes; let i = index" (swipe)="onSwipe($event)" id="todo-{{i}}">
        <div>{{note}}</div>
      </div>
    </div>
  </div>
</ion-content>
